body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    margin: 0;
    padding: 25px;
}

.crud-container {
    background: white;
    padding: 25px;
    border-radius: 5px;
}

fieldset {
    border:none;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(105, 9, 9);
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.form-actions {
    text-align: right;
}

button {
    padding: 10px 20px;
    background-color: rgb(41, 175, 41);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 14px;
}

button:hover {
    background-color: rgb(53, 190, 53);
}

.task-list {
    margin-top: 20px;
}

.task {
    background: rgb(218, 218, 218);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-info {
    flex-grow: 1;
}

.task-actions button {
    margin-left: 10px;
}