body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    margin: 0;
    padding: 25px;
}

.crud-container {
    background: white;
    padding: 25px;
    border-radius: 5px;
}

fieldset {
    border:none;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(105, 9, 9);
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;

}